{% extends 'craigslist_app/index.html' %}
{% block content%}

<H1>Post Information</H1>
<hr>
<h3>Please confirm information before deleting.</h3>
<br>

<label> <strong>Title:</strong> </label>
<input type="hidden" id="newTitle" value="{{post.id}}">{{post.title}}</input>
<br>
<label> <strong>Price:</strong> </label>
<input type="hidden" id="newPrice" >{{post.price}}</input>
<br>
<label> <strong>Description:</strong></label>
<input type="hidden" id="newDescription" >{{post.description}}</input>
<br>
<button onclick="deletePost()">Click to Delete</button>

{% endblock %}