<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.26.1/axios.min.js" integrity="sha512-bPh3uwgU5qEMipS/VOmRqynnMXGGSRv+72H/N260MQeXZIK4PG48401Bsby9Nq5P5fz7hy5UGNmC/W1Z51h2GQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/static/js/main.js"></script>
    <title>Craigslist JR</title>
</head>
<body>
    Welcome to Craigslist Jr.
    <li>
        <a href="{% url 'home' %}">Home</a>
    </li>
    <li>
        <a href="{% url 'all_categories' %}">All categories</a>
    </li>
    <li>
        <a href="{% url 'all_posts' %}">All Posts</a>
    </li>
    <li>
        <a href="{% url 'new_category' %}">New Category</a>
    </li>
    {% for category in all_categories %}

    <li>
        <a href="{% url 'view_category' category.id %}">{{category}}</a>
    </li>
    {% endfor %}
    {% block content%}
    {% endblock %}

</body>
</html>