{% extends 'craigslist_app/index.html' %}
{% block content%}
<!-- <br>
<div style="font-size: 35px">Welcome to the <strong>{{category}}</strong> page</H1>
</div> -->
{% for item in post %}

<h1 style="margin: 2%;">{{item.title}}</h1>
<hr>
{{post}}
{{category}}

<div style="margin: 2%;">
    <p> <strong>Price:</strong> {{item.price}}</p>
    <p> <strong>Description:</strong> {{item.description}}</p>
<br>
<p>Click <a href="{% url 'edit_post' category.id item.id %}">here</a> to <strong>edit</strong> post</p>
<br>
<p>Click <a href="{% url 'single_post' item.id %}">here</a> to <strong>delete</strong> post</p>



</div>

{% endfor %}


{% endblock %}