{% extends 'craigslist_app/index.html' %}
{% block content%}
<br>
<div style="font-size: 35px">Welcome to the <strong>{{category}}</strong> page</H1></div>
<p>Click <a href="{% url 'new_post' category.id %}">here</a> to <strong>add</strong> a post.</p>
<p>Click <a href="{% url 'delete_category' category.id %}">here</a> to <strong>delete</strong> category.</p>
<p>Click <a href="{% url 'edit_category' category.id  %}">here</a> to <strong>edit</strong> category.</p>


<div>
    <ol>
        {% for item in post %}
        <li>
            <p><a href="{% url 'view_post' category.id item.id %}">{{item.title}}</a></p>
            <p> <strong>Price:</strong> {{item.price}}</p>
            <p> <strong>Description:</strong> {{item.description}}</p>
            <p>Contact seller <a href="https://www.gmail.com">here</a>.</p>
        </li>
        {% endfor %}
    </ol>
    

</div>

    

{% endblock %}